.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    justify-content: center;
    position: relative;
}

.image-item {
    position: relative;
    width: fit-content;
}

.sold-out {
    position: absolute;
    top: -25px;
    right: 10px;
    background-color: #CBD5C0;
    color: #013220;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.image-text {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 800;
    color: #013220;
}

.ant-image {
    object-fit: cover;
    display: block;
}

.ant-image-preview {
    background: rgba(0, 0, 0, 0.8) !important;
}

.ant-image-preview-img {
}

.ant-image-preview-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-image-preview-content {
    background: rgba(0, 0, 0, 0.8) !important;
}