.navbar-header {
    display: flex;
    align-items: center;
    background: #013220;
    height: 65px;
    justify-content: space-between;
    border-bottom: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navbar-logo {
    width: 350px;
    height: auto;
    padding-right: 100px;
}

.navbar-menu {
    display: flex;
    justify-content: flex-start;
    background: #013220;
    line-height: 0px;
    font-size: 20px;
    padding: 0;
    border-bottom: none;
    flex-grow: 1;
    overflow: hidden;
}

.navbar-menu .ant-menu-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    border-color: #013220 !important;
    outline-color: #013220 !important;
    background-color: #013220 !important;
    color: #ffffff !important;
    flex-shrink: 1;
}

.navbar-menu .ant-menu-item:hover {
    background-color: #004225 !important;
    color: #ffffff !important;
}

.navbar-menu .ant-menu-item-active {
    background-color: #004225 !important;
    color: #ffffff !important;
}

.navbar-menu .ant-menu-item-open {
    background-color: #004225 !important;
    color: #ffffff !important;
}

.navbar-menu .ant-menu-item-selected {
    background-color: #004225 !important;
    color: #ffffff !important;
}

.ant-menu-submenu {
    color: #000000 !important;
}

.ant-menu-submenu-title {
    color: #ffffff !important;
}

.ant-menu-item, .ant-menu-item-active {
    color: #000000 !important;
}

.ant-menu-item-selected {
    color: #000000 !important;
}

.ant-menu-item-open {
    color: #000000 !important; 
}

.ant-menu-submenu-popup {
    background-color: #013220 !important;
}

.ant-menu-submenu-popup {
    background-color: #004225 !important;
}

.ant-menu-item:hover {
    background-color: #004225 !important;
}